@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', 'Tachoma', sans-serif;
    margin: 0;
    background: linear-gradient(#f3d0e3, #4a4563);
    min-height: 100vh;
}

.container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-color-happiness {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.color-happiness {
    width: 50%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 84px;
    margin-right: 20px;
    color:#c000cc;
    text-shadow: 
            0 2px 0px #b593cb,
            0 3px 2px rgba(83, 3, 43, 0.5),
            0 6px 0 #e878ab,
            0 8px 2px rgba(44, 1, 1, 0.5),
            0 12px 0 #060a0b,
            0 16px 2px rgba(39, 13, 1, 0.5),
            0 24px 0 #03e9f4,
            0 26px 2px rgba(39, 29, 2, 0.5),
            0 36px 0 #109ccc,
            0 38px 2px rgba(32, 39, 2, 0.5),
            0 48px 0 #ad97c6,
            0 50px 2px rgba(3, 56, 10, 0.5);
}

#change {
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #7b6181;
    cursor: pointer;
}

.color-display {
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    width: 20%;
}

.colorInfo {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.rgbBlock {
    display: flex;
}

.rgb {
    color: #343046;
    font-size: 16px;
    font-weight: 500;
}

.color {
    width: 50px;
    height: 20px;
    margin-right: 15px;
}

.img-basket {
    width: 8%;
    cursor: pointer;
}
